spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/teste
    username: teste
    password: teste
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
logging:
  file:
    name: logs/dev.log
    path: logs